[General]
ExitToHomeScreen={{general.ExitToHomeScreen}}
SavesFolder={{general.SavesFolder}}
LogEvents={{general.LogEvents}}
LogsFolder={{general.LogsFolder}}
DumpsFolder={{general.DumpsFolder}}
AppSorting={{general.AppSorting}}
SaveSorting={{general.SaveSorting}}
HighlightUpdates={{general.HighlightUpdates}}
RotateScreen={{general.RotateScreen}}
RotateJoycon={{general.RotateJoycon}}
VersionsURL={{general.VersionsURL}}
TitleDB={{general.TitleDB}}
ROSaveFS={{general.ROSaveFS}}
ShowUpdateFromHere={{general.ShowUpdateFromHere}}
ShowCacheWarmingIndicator={{general.ShowCacheWarmingIndicator}}
MoveDownAfterX={{general.MoveDownAfterX}}
ScreenIdleTimeout={{general.ScreenIdleTimeout}}
Autorepeat={{general.Autorepeat}}
Secondcursor={{general.Secondcursor}}
FoolproofSaveDelete={{general.FoolproofSaveDelete}}
TimeShow={{general.TimeShow}}
TimeShowSeconds={{general.TimeShowSeconds}}
BrowseAppsFromFiles={{general.BrowseAppsFromFiles}}
ValidateSSL={{general.ValidateSSL}}
DBIUpdateURL={{general.DBIUpdateURL}}
DumpForwarders={{general.DumpForwarders}}
HideFolderJpg={{general.HideFolderJpg}}
ShowFolderImage={{general.ShowFolderImage}}
{{#general.CustomDNS}}
CustomDNS={{general.CustomDNS}}
{{/general.CustomDNS}}
SmartNetworkConfig={{general.SmartNetworkConfig}}
AutoSaveBackupInterval={{general.AutoSaveBackupInterval}}
ContentsPath={{general.ContentsPath}}
ExefsPatchesPath={{general.ExefsPatchesPath}}

[Album]
ApplicationId={{album.ApplicationId}}

[Filtering]
FilterFolders={{filtering.FilterFolders}}
InheritFilter={{filtering.InheritFilter}}

[ActivityLog]
HideUnknownUsers={{activity_log.HideUnknownUsers}}

[MainMenu]
BrowseSD={{main_menu.BrowseSD}}
BrowseSystem={{main_menu.BrowseSystem}}
BrowseUser={{main_menu.BrowseUser}}
USBHost={{main_menu.USBHost}}
BackendInstall={{main_menu.BackendInstall}}
GameCard={{main_menu.GameCard}}
Network={{main_menu.Network}}
Local={{main_menu.Local}}
BrowseApps={{main_menu.BrowseApps}}
Tickets={{main_menu.Tickets}}
Saves={{main_menu.Saves}}
MTP={{main_menu.MTP}}
FTP={{main_menu.FTP}}
HTTP={{main_menu.HTTP}}
Tools={{main_menu.Tools}}

[Applications]
CalculateLFSSize={{applications.CalculateLFSSize}}

[Install]
CheckHash={{install.CheckHash}}
EnableNSZ={{install.EnableNSZ}}
CreateLFS={{install.CreateLFS}}
PatchUAC={{install.PatchUAC}}
PatchScreenshot={{install.PatchScreenshot}}
PatchVideoRec={{install.PatchVideoRec}}
PatchMasterKeyGeneration={{install.PatchMasterKeyGeneration}}
Patch21Names={{install.Patch21Names}}
PatchVersionInMeta={{install.PatchVersionInMeta}}

[MTP]
ShowCombinedNSP={{mtp.ShowCombinedNSP}}
AddBaseUpdate={{mtp.AddBaseUpdate}}
ShowMAC={{mtp.ShowMAC}}
MACasTID={{mtp.MACasTID}}
CustomStorages={{mtp.CustomStorages}}
TurnOffScreen={{mtp.TurnOffScreen}}
ReportAndroidExtension={{mtp.ReportAndroidExtension}}
SingleURB={{mtp.SingleURB}}
BufferSize={{mtp.BufferSize}}
NewBufferTimeout={{mtp.NewBufferTimeout}}
AutoremoveInstalled={{mtp.AutoremoveInstalled}}
InitiatorStrictClassFiltering={{mtp.InitiatorStrictClassFiltering}}

[FTP]
TurnOffScreen={{ftp.TurnOffScreen}}
ReadMT={{ftp.ReadMT}}
Port={{ftp.Port}}
MinPassivePort={{ftp.MinPassivePort}}
MaxPassivePort={{ftp.MaxPassivePort}}
CDIR={{ftp.CDIR}}
ForceUtf8={{ftp.ForceUtf8}}
UseWaitAll={{ftp.UseWaitAll}}

[HTTP]
Port={{http.Port}}
Timeout={{http.Timeout}}
RetryCount={{http.RetryCount}}

[Access point]
UseAP={{access_point.UseAP}}
SSID={{access_point.SSID}}
Password={{access_point.Password}}
Use5GHz={{access_point.Use5GHz}}
Hidden={{access_point.Hidden}}

[MTP Storages]
1: SD Card={{mtp_storages.SDCard}}
2: Nand USER={{mtp_storages.NandUSER}}
3: Nand SYSTEM={{mtp_storages.NandSYSTEM}}
4: Installed games={{mtp_storages.InstalledGames}}
5: SD Card install={{mtp_storages.SDCardInstall}}
6: NAND install={{mtp_storages.NANDInstall}}
7: Saves={{mtp_storages.Saves}}
8: Album={{mtp_storages.Album}}
9: Gamecard={{mtp_storages.Gamecard}}

[FB2]
Theme={{fb2.Theme}}
Hyphenation={{fb2.Hyphenation}}
Orientation={{fb2.Orientation}}

[Network sources]
;NSP Indexer=URLList|http://192.168.1.47/nspindexer/index.php?DBI
;Home server=ApacheHTTP|http://192.168.1.47/Nintendo/Switch/
;WebDAV test=WebDAV|http://user:password@192.168.1.47/webdav/
;Test FTP=FTP|ftp://192.168.1.24:2121/
;Test SFTP=SFTP|sftp://user:password@192.168.1.24/
;Test SFTP=SFTP|sftp://remote_user@192.168.1.47/
{{#network_sources.sources}}
{{Name}}={{Type}}|{{URL}}
{{/network_sources.sources}}

[Local sources]
;Homebrew=sdmc:/switch
{{#local_sources.sources}}
{{Name}}={{Path}}
{{/local_sources.sources}}

[MTP custom storages]
;Homebrew=sdmc:/switch
{{#mtp_custom_storages.storages}}
{{Name}}={{Path}}
{{/mtp_custom_storages.storages}}

[Title name override]
;010023901191C000=Naheulbeuk
{{#title_name_override.names}}
{{TitleID}}={{Name}}
{{/title_name_override.names}}

[Disabled titles to check for updates]
BlockAllTitlesWithLFS={{disabled_titles_to_check_for_updates.BlockAllTitlesWithLFS}}
{{#disabled_titles_to_check_for_updates.titles}}
{{TitleID}}{{#Name}}; {{Name}}{{/Name}}
{{/disabled_titles_to_check_for_updates.titles}}
